body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#resultados {
    margin: 20px;
}

div {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}
